*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

hr{
  border-color:goldenrod;
  min-width:100%;
  opacity: 0.2;
}

h2{
  font-size:2.5rem;
  color:white;
}

h2 > span{
  color:goldenrod;
}

.App{
  gap:2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:rgb(22, 17, 61);
  color:aliceblue;
}

.search-bar{
  padding: 0.5rem;
  min-width:50vw;
  min-height: 10vh;
  border-radius: 10px;
  border:2px solid goldenrod;
  background-color: transparent;
  color: aliceblue;
  outline: 0;
}

.search-bar:hover{
  border:2px solid gray;
}

.card{
  gap:1rem;
  padding:0.5rem;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(50, 50, 45, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 15px;
}

.child1{
  padding: 0 1rem;
  min-width: 100%;
  color: slategray;
  display: flex;
  border-radius: 10px;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
}

.left{
  gap:0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.temp-icon{
  width: 40px;
  height: 40px;
  top: -8px;
  position: absolute;
}

.min{
  color:rgb(18, 112, 228);
}

.max{
  color:rgb(255, 0, 0);
}

.min-max{
  display: flex;
  gap:0.5rem;
}

.right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.child2{
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.categories{
  gap:1rem;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categories>p{
  color:goldenrod;
  font-weight: 500;
  font-size: 1rem;
}

.categories>span{
  font-size: 0.8rem;
}